@import "../../styles/mixin.scss";


.dropdown {
    @include justify;
    width: $input-max-width;
    background-color: var(--white);
    color: var(--black);

    &__input {
        border: 1px solid var(--border-gray);
        @include justify;
        justify-content: space-between;
        width: $input-max-width;

        &_focus {
            outline-offset: 0px;
            outline: -webkit-focus-ring-color auto 1px;
        }
    }

    &__placeholder {
        color: var(--placeholder-gray);

        &_focus {
            opacity: 0;
        }
    }
}

.menu {
    display: none;

    &__list-item {
        @include font;
        @include justify;
        justify-content: flex-start;
        color: var(--placeholder-gray);
        border-bottom: 1px solid var(--border-gray);
        padding: $input-padding;

        &:hover {
            color: var(--black);
            font-weight: 700;
            cursor: pointer;
        }

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            border: none;
            padding-bottom: 0;
        }
    }

    &_open {
        width: calc($input-max-width - 14px*2);
        position: absolute;
        z-index: 2;
        background-color: var(--white);
        padding: $input-padding;
        box-shadow: 0px 2px 8px var(--box-shadow);
        border-radius: 4px;
        border: 1px solid var(--border-gray);
        color: var(--black);
        margin-top: 3px;
        display: flex;
        flex-direction: column;
    }
}