@import "../../styles/variables.scss";

.input {
    @include font;
    border-radius: 4px;
    padding: $input-padding;
    border: 1px solid var(--border-gray);
    color: var(--black);

    &_error {
        border-color: var(--dangerous);

        &:focus-visible {
            outline: 1px solid var(--dangerous);
        }
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &::placeholder {
        color: var(--placeholder-gray);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &__container {
        @include flex-column;
        max-width: $input-max-width;
        width: 100%;
    }

    &__error-container {
        height: 14px;
    }
}