@import "../../styles/mixin.scss";

@mixin default-approach-form {
    @include flex-column;
    justify-content: center;
    width: 280px;

    background-color: var(--white);
    box-shadow: 0px 4px 4px var(--box-shadow);
    padding: 20px 16px;
    border-radius: 4px;

}

@mixin default-approach-container {
    @include flex-column;
    align-items: center;
    justify-content: space-evenly;
    height: 320px;
}

.form {
    @include default-approach-form;

    &_two-c {
        width: 565px;

        @media screen and (max-width: $small-screen) {
            @include default-approach-form;
        }
    }

    &__container {
        @include default-approach-container;

        &_two-c {
            height: 150px;
            gap: 6px;
            flex-wrap: wrap;

            @media screen and (max-width: $small-screen) {
                @include default-approach-container;
            }
        }
    }

    &__button {
        width: 100%;
    }
}