@import "../../styles/mixin.scss";

.link-button {
    @include font;
    text-decoration-line: underline;
    cursor: pointer;

    &_primary {
        color: var(--button-primary-darkered);
    }

    &_dangerous {
        color: var(--dangerous);
    }

}