.toolbar {
    width: 100%;
    justify-content: center;
    display: flex;

    &__button {
        height: 24px !important;
        width: 90px;
    }


    &__button-container {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    &__container {
        width: calc(90% - 4px);
        display: flex;
        justify-content: flex-end;
    }
}