.table-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__table.table {
    width: 90%;
  }

  &__row {
    height: 32px;
  }

  &__toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.table {
  border: 2px solid #EBEBEB;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  color: #868A8D;
  background-color: #fff;

  &__header {
    color: #ffffff80;
    text-decoration-color: #fff;
    background-color: #0A508B;

    .table__row {
      height: 30px;
    }

    .table__cell {
      border: none;

      &:first-of-type {
        border-top-left-radius: 6px;
      }

      &:last-of-type {
        border-top-right-radius: 6px;
      }
    }
  }

  &__cell {
    border: 2px solid #EBEBEB;
    padding-left: 10px;

    &:last-of-type {
      height: inherit;
    }


  }
}