@import "../../styles/mixin.scss";

$border: 2px solid var(--table-border-color);

.table-component {
  width: 100%;
  @include justify;

  &__table.table {
    width: 90%;
  }

  &__row {
    height: 32px;
  }

  &__toolbar-container {
    @include justify;
    justify-content: space-evenly;
  }
}

.table {
  border: $border;
  border-collapse: collapse;
  text-align: left;
  color: var(--placeholder-gray);
  background-color: var(--white);

  &__header {
    color: var(--table-header-text-color);
    background-color: var(--table-header-background);

    .table__row {
      height: 30px;
    }

    .table__cell {
      border: none;

      &:first-of-type {
        border-top-left-radius: 6px;
      }

      &:last-of-type {
        border-top-right-radius: 6px;
      }
    }
  }

  &__cell {
    border: $border;
    padding-left: 10px;

    &:last-of-type {
      height: inherit;
    }
  }
}