@import 'styles/root-vars.scss';
@import 'styles/mixin.scss';

@import 'components/Table/Table.scss';
@import 'components/Toolbar/Toolbar.scss';
@import 'components/Input/Input.scss';
@import 'components/Form/Form.scss';
@import 'components/Buttons/Button.scss';
@import 'components/Buttons/LinkButton.scss';
@import 'components/Buttons/IconButton.scss';
@import 'components/DropDown/DropDown.scss';
@import 'components/Modal/Modal.scss';

.App {
  background-color: var(--app-background);
  padding: 50px 0;
  @include font;
}

.Forms-work-area {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-bottom: 50px;

  @media screen and (max-width: $medium-screen) {
    @include flex-column;
    gap: 20px;
  }
}